:root {
    --red: #fd7777;
    --blue: #76bdfe;
    --lightgreen: #48d0af;
    --green: #48d0b0;
    --yellow: #fae155;
    --purple:  rgb(133, 103, 209);
    --brown: #e5c499;
    --white: rgb(206, 206, 206);
    --pink: #e4a1d9;
    --gray: #919191;
    --black: black;
}

.red {
    background-color: var(--red);
    /* background-image: linear-gradient(var(--red) 55%, #ad4141); */
}

.blue {
    background-color: var(--blue);
    /* background-image: linear-gradient(var(--blue) 55%, #5991c5); */
}

.yellow, .electric {
    background-color: var(--yellow);
    /* background-image: linear-gradient(var(--yellow) 55%, #c9b546); */
}

.purple {
    background-color: var(--purple);
    /* background-image: linear-gradient(var(--purple) 55%, rgb(124, 97, 194)); */
}

.green {
    background-color: var(--green);
    /* background-image: linear-gradient(var(--green) 55%, #43c2a4); */
}

.brown {
    background-color: var(--brown);
    /* background-image: linear-gradient(var(--brown) 55%, #d7a25d); */
}

.white {
    background-color: var(--white);
    /* background-image: linear-gradient(var(--white) 55%, rgb(177, 177, 177)); */
}

.pink {
    background-color: var(--pink);
}

.gray {
    background-color: var(--gray);
}

.black {
    background-color: var(--black);
}

.lightgray {
    color: rgb(155, 155, 155);
}

.bg-darkmode {
    background-color: rgba(0,0,0,0.5);
}

.fire {
    background-color: red;
}

.flying {
    background-color: rgb(55, 186, 247);
}

.grass {
    background-color: rgb(14, 148, 14);
}

.ice {
    background-color: rgb(226, 226, 226);
}

.rock {
    background-color: rgb(160, 130, 91);
}

.ground {
    background-color: rgb(136, 67, 2);
}

.bug {
    background-color: rgb(4, 80, 38);
}

.fighting {
    background-color: rgb(0, 0, 0);
}

.steel {
    background-color: rgb(97, 97, 97);
}

.fairy {
    background-color: rgb(221, 59, 213);
}

.poison {
    background-color: rgb(148, 236, 5);
}

.ghost {
    background-color: rgb(230, 230, 230);
}

.dragon {
    background-color: rgb(238, 210, 174);
}

.water {
    background-color: rgb(0, 81, 255);
}

.psychic {
    background-color: purple;
}

.normal {
    background-color: rgb(187, 236, 224);
}

.dark {
    background-color: rgb(0, 0, 0);
}