*, *:before, *:after {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}

body, p {
    margin: 0;
}

html {
    transition: all 125ms ease-in-out;
    font-family: 'Bakbak One';
    font-style: normal;
    font-weight: 400;
}

.flex {
    display: flex;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.column {
    flex-direction: column;
}

.cursor-p {
    cursor: pointer;
}

.cursor-d {
    cursor: default;
}

.d-none {
    display: none;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.sticky {
    position: sticky;
}

.fixed {
    position: fixed;
}

/* header icon color lightgray: #d9d9d9 
   searchbar background color : #525252
*/


/*background-image: linear-gradient(red, yellow); */

:root {
    --red: #fd7777;
    --blue: #76bdfe;
    --lightgreen: #48d0af;
    --green: #48d0b0;
    --yellow: #fae155;
    --purple:  rgb(133, 103, 209);
    --brown: #e5c499;
    --white: rgb(240, 240, 240);
    --pink: #e4a1d9;
    --gray: #919191;
    --black: black;
}

.red {
    background-color: var(--red);
    /* background-image: linear-gradient(var(--red) 55%, #ad4141); */
}

.blue {
    background-color: var(--blue);
    /* background-image: linear-gradient(var(--blue) 55%, #5991c5); */
}

.yellow {
    background-color: var(--yellow);
    /* background-image: linear-gradient(var(--yellow) 55%, #c9b546); */
}

.purple {
    background-color: var(--purple);
    /* background-image: linear-gradient(var(--purple) 55%, rgb(124, 97, 194)); */
}

.green {
    background-color: var(--green);
    /* background-image: linear-gradient(var(--green) 55%, #43c2a4); */
}

.brown {
    background-color: var(--brown);
    /* background-image: linear-gradient(var(--brown) 55%, #d7a25d); */
}

.white {
    background-color: var(--white);
    /* background-image: linear-gradient(var(--white) 55%, rgb(177, 177, 177)); */
}

.pink {
    background-color: var(--pink);
}

.gray {
    background-color: var(--gray);
}

.black {
    background-color: var(--black);
}

.lightgray {
    color: rgb(155, 155, 155);
}

.bg-darkmode {
    background-color: rgba(0,0,0,0.5);
}

.bg-normal {
    /* background-color: rgba(0, 0, 0, 0.1); */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.9), white); */
    background-color: white;
}

.opa-off {
    opacity: 0;
    /* backdrop-filter: ; */
}

.opa-on {
    opacity: 1;
}

.tranY-0 {
    transform: translateY(0) !important;
}

.tranX-0 {
    transform: translateX(0) !important;
}

.wrapper {
    background-color: white;
    color: black;
    max-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.header {
    top: 0;
    left: 0;
    right: 0;
    height: 130px;
    min-height: 130px;
    justify-content: center;
    transform: translateY(-20vh);
    transition: all 1s ease-in-out;
    margin-right: 16px;
    /* background-color: white; */
    background-color: rgba(255, 255, 255, 0.733);
    z-index: 1;
    transition: all 1s ease;
}

.header:hover, .header-wrapper:hover {
    background-color: white;
}

.header-wrapper {
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.header-title {
    font-size: 48px;
    color: rgb(54, 53, 53);
}

.header-functionality-wrapper {
    gap: 20px;
    align-self: flex-end;
}

.header-searchbar {
    align-items: center;
    border-radius: 32px;
    background-color: rgba(150, 149, 149, 0.071);
}

.header-searchbar:hover {
    background-color: rgba(150, 149, 149, 0.412);
}

.header-searchbar-input {
    outline: none;
    border: none;
    background-color: transparent;
    border-radius: 32px;
    padding: 5px 12px;
}

.header-searchbar-input:focus {
    background-color: white;
}

.header-music, .header-sound, .header-favorites, .header-settings {
    border-radius: 11%;
    padding: 3px;
    background-color: transparent;
    width: 35px;
    height: 35px;
}

.content-container {
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 1s ease-in-out;
}

.pokemon-list-wrapper {
    justify-content: center;
}

.pokemon-list {
    justify-content: center;
    flex-flow: row wrap;
    padding: 150px 22px 22px;
    gap: 18px;
    transition: all 125ms ease-in;
}

.pokemon-list-element-container {
    flex: 1 1 230px;
    height: 130px;
    padding: 16px 16px 8px;
    border-radius: 16px;
    color: white;
    max-width: 270px;
    opacity: 0.9;
}

.pokemon-list-element-container:hover {
    opacity: 1;
    box-shadow: 1px 1px 5px rgb(0 0 0 / 26%);
    background-image: linear-gradient(165deg, rgba(255, 255, 255, 0.4) 10%, transparent);
}

.pokemon-list-element {
    width: 100%;
    height: 100%;
    gap: 6px;
}

.pokemon-list-element-id-container {
    top: 10px;
    right: 16px;
    justify-content: flex-end;
    color: rgba(0,0,0,0.07);
}

.pokemon-list-element-name-container {
    font-size: 22px;
}

.pokemon-list-element-type-container {
    max-width: 150px;
    flex-wrap: wrap;
    gap: 5px;
}

.pokemon-list-element-type {
    background-color: rgb(255 255 255 / 20%);
    padding: 1px 12px;
    border-radius: 14px;
    font-size: 14px;
}

.pokemon-list-element > img {
    width: 90px;
    bottom: 6px;
    right: 1px;
}

.pokemon-selected-wrapper {
    padding-top: 128px;
    transition: all 125ms ease-in-out;
}

.pokemon-selected-container {
    top: 0;
    height: 100vh;
    padding: 22px 0;
}

.pokemon-selected {
    border-radius: 22px;
    height: 100%;
    padding-top: 150px;
    background-color: antiquewhite;
    transition: all 125ms ease-in-out;
    transform: translateX(50vw);
    overflow-y: scroll;
}

.pokemon-selected-header-function-icons {
    z-index: 1;
}

.pokemon-selected-header-wrapper {
    top: 0;
    left: 0;
    right: 0;
}

.pokemon-selected-info-wrapper {
    background-color: white;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    z-index: 1;
    color: black;
}



@media screen and (min-width: 1400px) {
    .header-wrapper {
        padding: 20px 140px;
    }

    .pokemon-list {
        padding: 150px 140px 22px;
    }
}